action-msgs==1.2.1
action-tutorials-interfaces==0.20.5
action-tutorials-py==0.20.5
actionlib-msgs==4.8.0
ament-cmake-test==1.3.11
ament-copyright==0.12.12
ament-cppcheck==0.12.12
ament-cpplint==0.12.12
ament-flake8==0.12.12
ament-index-python==1.4.0
ament-lint==0.12.12
ament-lint-cmake==0.12.12
ament-package==0.14.0
ament-pep257==0.12.12
ament-uncrustify==0.12.12
ament-xmllint==0.12.12
angles==1.15.0
annotated-types==0.8.0
anyio==4.15.1
builtin-interfaces==1.2.1
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
composition-interfaces==1.2.1
cryptography==50.0.1
cuda-bindings==13.3.1
cuda-pathfinder==1.8.1
cuda-toolkit==13.0.3.0
cv-bridge==3.2.1
demo-nodes-py==0.20.5
diagnostic-msgs==4.8.0
distro==1.9.0
domain-coordinator==0.10.0
easyocr==1.7.2
example-interfaces==0.9.3
examples-rclpy-executors==0.15.3
examples-rclpy-minimal-action-client==0.15.3
examples-rclpy-minimal-action-server==0.15.3
examples-rclpy-minimal-client==0.15.3
examples-rclpy-minimal-publisher==0.15.3
examples-rclpy-minimal-service==0.15.3
examples-rclpy-minimal-subscriber==0.15.3
filelock==3.32.6
fsspec==2026.7.0
geometry-msgs==4.8.0
google-ai-generativelanguage==0.6.15
google-api-core==2.33.0
google-api-python-client==2.200.0
google-auth==2.58.0
google-auth-httplib2==0.4.2
google-genai==2.22.0
googleapis-common-protos==1.75.0
grpcio==1.83.1
grpcio-status==1.71.2
h11==0.16.0
httpcore==1.0.9
httplib2==0.32.0
httpx==0.28.1
idna==3.19
image-geometry==3.2.1
ImageIO==2.37.4
interactive-markers==2.3.2
Jinja2==3.1.6
laser-geometry==2.4.0
launch==1.0.8
launch-ros==0.19.9
launch-testing==1.0.8
launch-testing-ros==0.19.9
launch-xml==1.0.8
launch-yaml==1.0.8
lazy-loader==0.5
lifecycle-msgs==1.2.1
logging-demo==0.20.5
map-msgs==2.1.0
MarkupSafe==3.0.3
message-filters==4.3.7
MouseInfo==0.1.3
mpmath==1.3.0
mss==10.2.0
nav-msgs==4.8.0
networkx==3.6.1
ninja==1.13.2
numpy==2.5.3
nvidia-cublas==13.1.1.3
nvidia-cuda-cupti==13.0.85
nvidia-cuda-nvrtc==13.0.88
nvidia-cuda-runtime==13.0.96
nvidia-cudnn-cu13==9.24.0.43
nvidia-cufft==12.0.0.61
nvidia-cufile==1.15.1.6
nvidia-curand==10.4.0.35
nvidia-cusolver==12.0.4.66
nvidia-cusparse==12.6.3.3
nvidia-cusparselt-cu13==0.8.1
nvidia-nccl-cu13==2.30.7
nvidia-nvjitlink==13.3.33
nvidia-nvshmem-cu13==3.4.5
nvidia-nvtx==13.0.85
opencv-python==5.0.0.93
opencv-python-headless==5.0.0.93
osrf-pycommon==2.1.6
packaging==26.3
pcl-msgs==1.0.0
pendulum-msgs==0.20.5
pillow==12.3.0
proto-plus==1.28.2
protobuf==5.29.6
pyasn1==0.6.4
pyasn1_modules==0.4.2
PyAutoGUI==0.9.54
pyclipper==1.4.0
pycparser==3.0
pydantic==2.13.5
pydantic_core==2.46.5
PyGetWindow==0.0.9
PyMsgBox==2.0.1
pyparsing==3.3.2
pyperclip==1.11.0
PyRect==0.2.0
PyScreeze==1.0.1
python-bidi==0.6.11
python-dotenv==1.2.3
python-qt-binding==1.1.2
python3-xlib==0.15
pytweening==1.2.0
PyYAML==6.0.3
qt-dotgraph==2.2.4
qt-gui==2.2.4
qt-gui-cpp==2.2.4
qt-gui-py-common==2.2.4
quality-of-service-demo-py==0.20.5
rcl-interfaces==1.2.1
rclpy==3.3.16
rcutils==5.1.6
requests==2.34.2
resource-retriever==3.1.3
rmw-dds-common==1.6.0
ros2action==0.18.12
ros2bag==0.15.14
ros2cli==0.18.12
ros2component==0.18.12
ros2doctor==0.18.12
ros2interface==0.18.12
ros2launch==0.19.9
ros2lifecycle==0.18.12
ros2multicast==0.18.12
ros2node==0.18.12
ros2param==0.18.12
ros2pkg==0.18.12
ros2run==0.18.12
ros2service==0.18.12
ros2topic==0.18.12
rosbag2-interfaces==0.15.14
rosbag2-py==0.15.14
rosgraph-msgs==1.2.1
rosidl-adapter==3.1.6
rosidl-cli==3.1.6
rosidl-cmake==3.1.6
rosidl-generator-c==3.1.6
rosidl-generator-cpp==3.1.6
rosidl-generator-py==0.14.4
rosidl-parser==3.1.6
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.2
rosidl-typesupport-cpp==2.0.2
rosidl-typesupport-fastrtps-c==2.2.2
rosidl-typesupport-fastrtps-cpp==2.2.2
rosidl-typesupport-introspection-c==3.1.6
rosidl-typesupport-introspection-cpp==3.1.6
rpyutils==0.2.1
rqt-action==2.0.1
rqt-bag==1.1.5
rqt-bag-plugins==1.1.5
rqt-console==2.0.3
rqt-graph==1.3.1
rqt-gui==1.1.7
rqt-gui-py==1.1.7
rqt-msg==1.2.0
rqt-plot==1.1.4
rqt-publisher==1.5.0
rqt-py-common==1.1.7
rqt-py-console==1.0.2
rqt-reconfigure==1.1.2
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-topic==1.5.0
scikit-image==0.26.0
scipy==1.18.1
sensor-msgs==4.8.0
sensor-msgs-py==4.8.0
setuptools==84.0.0
shape-msgs==4.8.0
shapely==2.1.2
sniffio==1.3.1
sros2==0.10.6
statistics-msgs==1.2.1
std-msgs==4.8.0
std-srvs==4.8.0
stereo-msgs==4.8.0
sympy==1.14.0
teleop-twist-keyboard==2.4.0
tenacity==9.1.4
tf2-geometry-msgs==0.25.12
tf2-kdl==0.25.12
tf2-msgs==0.25.12
tf2-py==0.25.12
tf2-ros-py==0.25.12
tf2-tools==0.25.12
tifffile==2026.9.9
topic-monitor==0.20.5
torch==2.14.0
torchvision==0.29.0
tqdm==4.70.0
trajectory-msgs==4.8.0
triton==3.8.0
turtlesim==1.4.2
typing-inspection==0.4.4
typing_extensions==4.16.0
unique-identifier-msgs==2.2.1
uritemplate==4.2.0
urllib3==2.7.0
visualization-msgs==4.8.0
websockets==16.1.1
